<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Wtf-alchemy Example</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
Edit
<form action="{{ url_for('edit', user_id=user.id) }}" method="POST">
    {% for field in form %}
        {% if field.id not in ['csrf_token'] %}
        {{ field.label }}<br>
        {{ field }}
        {% else %}
            {{field()}}
        {% endif %}
    {% endfor %}
    <input type="submit" value="submit">
</form>

</body>
</html>